@belt_height:700px;//верхний широкий фон
@wide_body_width: 1024px; //верхнего центрального фона
@body_width:960px; //наполнение
@bg_color:aliceblue;

html{
  width:100%;
  min-height: 100%;
  background-color: @bg_color;
  background-image:url('../img/planet.jpg');
  background-position:center top;
  background-size: 100% @belt_height;
  background-repeat:no-repeat;
}
body{
  margin:0 auto;
  width:@wide_body_width;

  //изображение первого экрана
  background-image:url('../img/head.jpg');
  background-position: center top;
  background-size: 100% @belt_height*1.1;
  background-repeat:no-repeat;

}
.container{
  margin:0 auto;
  width:@body_width;

  //меню
  nav{
    @line_h:60px;
    background-color: darken(@bg_color,50%);

    width:100%;
    height: @line_h*1.2;
    text-align: center;
    position: relative;

    //кнопка На главную
    a#back-bot{
      display:block;
      position:absolute;
      height: @line_h; line-height: @line_h*1.2;
      left:6px; top:0;
      color:yellow;
      font-weight: bold; font-size:30px;
      text-decoration: none;

    }
    //пункты
    .item{
      height: @line_h;
      line-height: @line_h;
      width:21%;
      margin:5px 10px 5px 10px;
      background-color: darken(@bg_color,70%);
      display:inline-block;
      text-align:center;

      a {
        text-decoration: none;
        color: darken(@bg_color,70%) + #00FFFF;
        width:100%;
        height: 100%;
        display:inline-block;
      }
    }
    .item:hover{
      box-shadow:2px 2px 2px darken(@bg_color,90%);
      cursor:pointer;
    }
    .item:active{
      position: relative; top:2px; left:2px;
      box-shadow: none;
    }

  }

  //основное наполнение
  .info{
    background-color: darken(@bg_color,50%);

    #head{ //видео блок
      margin-top:@belt_height*0.7;

      h1 {
        width:100%;
        color:lighten(@bg_color,90%);
        background-color: darken(@bg_color,90%);
        text-align: center;
        line-height: 80px;
        margin:20px 0 10px 0;
      }
      .visual {}
    }

    //таблица под видео
    .goods{
      width:100%;
      display:table;
      margin-top:-4px;
      @row_h:100px;

      .row{
        display:table-row;

        .plate{
          display:table-cell;
          text-align:center;
          height:@row_h;
          line-height:@row_h;
          font-size:30px;
          box-shadow:inset 0 0 2px black;
        }
        .plate:hover{
          box-shadow:inset 0 0 4px white;
        }
      }

    }

    //галерея изображений на внутренних страницах
    .gallery {
      overflow: hidden;
      img{
        width:100px; height: 100px;
        float:left;
      }
    }

    //тексты на внутренних страницах
    .about{
      width:100%;
      overflow: hidden;
      margin-top:20px;
      border-top:3px solid darken(@bg_color,99%);

      .text{
        float:left;
        width:60%;
      }
      .side-fight{
        float:right;
        width:30%;
      }
    }

  }

  //переписываем часть правил - для внутренних страниц
  .page {
    #head{
      margin-top:20px;
    }
  }
  //подвал с контактами
  footer{
    height: 50px;
    background-color: darken(@bg_color,99%);

    .mix{
      color: lighten(@bg_color,90%);
      margin-top:18px;
      margin-left:20px;
      margin-right:20px;
    }

    .copy{
      float:left;
      .mix;
    }
    .contacts{
      float:right;
      .mix;
    }
  }

}

//кнопка вверх
.up-bot{
  position: fixed;
  right:25px; bottom:25px;
  width:30px; height: 30px;

  background-image:url('../img/up.png');
  background-position:center center;
  background-size: 100% 100%;
  background-repeat:no-repeat;
}



