html {
  width: 100%;
  min-height: 100%;
  background-color: aliceblue;
  background-image: url('../img/planet.jpg');
  background-position: center top;
  background-size: 100% 700px;
  background-repeat: no-repeat;
}
body {
  margin: 0 auto;
  width: 1024px;
  background-image: url('../img/head.jpg');
  background-position: center top;
  background-size: 100% 770px;
  background-repeat: no-repeat;
}
.container {
  margin: 0 auto;
  width: 960px;
}
.container nav {
  background-color: #0080f0;
  width: 100%;
  height: 72px;
  text-align: center;
  position: relative;
}
.container nav a#back-bot {
  display: block;
  position: absolute;
  height: 60px;
  line-height: 72px;
  left: 6px;
  top: 0;
  color: yellow;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
}
.container nav .item {
  height: 60px;
  line-height: 60px;
  width: 21%;
  margin: 5px 10px 5px 10px;
  background-color: #004a8a;
  display: inline-block;
  text-align: center;
}
.container nav .item a {
  text-decoration: none;
  color: #00ffff;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.container nav .item:hover {
  box-shadow: 2px 2px 2px #001324;
  cursor: pointer;
}
.container nav .item:active {
  position: relative;
  top: 2px;
  left: 2px;
  box-shadow: none;
}
.container .info {
  background-color: #0080f0;
}
.container .info #head {
  margin-top: 490px;
}
.container .info #head h1 {
  width: 100%;
  color: #ffffff;
  background-color: #001324;
  text-align: center;
  line-height: 80px;
  margin: 20px 0 10px 0;
}
.container .info .goods {
  width: 100%;
  display: table;
  margin-top: -4px;
}
.container .info .goods .row {
  display: table-row;
}
.container .info .goods .row .plate {
  display: table-cell;
  text-align: center;
  height: 100px;
  line-height: 100px;
  font-size: 30px;
  box-shadow: inset 0 0 2px black;
}
.container .info .goods .row .plate:hover {
  box-shadow: inset 0 0 4px white;
}
.container .info .gallery {
  overflow: hidden;
}
.container .info .gallery img {
  width: 100px;
  height: 100px;
  float: left;
}
.container .info .about {
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  border-top: 3px solid #000000;
}
.container .info .about .text {
  float: left;
  width: 60%;
}
.container .info .about .side-fight {
  float: right;
  width: 30%;
}
.container .page #head {
  margin-top: 20px;
}
.container footer {
  height: 50px;
  background-color: #000000;
}
.container footer .mix {
  color: #ffffff;
  margin-top: 18px;
  margin-left: 20px;
  margin-right: 20px;
}
.container footer .copy {
  float: left;
  color: #ffffff;
  margin-top: 18px;
  margin-left: 20px;
  margin-right: 20px;
}
.container footer .contacts {
  float: right;
  color: #ffffff;
  margin-top: 18px;
  margin-left: 20px;
  margin-right: 20px;
}
.up-bot {
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 30px;
  height: 30px;
  background-image: url('../img/up.png');
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
