
<nav><a id="back-bot" href="http://itquant.ru/cp-lessons/hw1/index.html"><=</a>
    <div class="item"><a href="page-js.html">js</a></div>
    <div class="item"><a href="page-ruby.html">Ruby</a></div>
    <div class="item"><a href="page-php.html">PHP</a></div>
    <div class="item"><a href="page-c.html">C++</a></div>
</nav>