doctype html
html
   head
      title проект
      meta(charset='utf8')

      block style
         link(type='text/css', rel='stylesheet', href='css/style.css')

      block script
         //script(src='js/jQuery.js')
         script(src='js/total.js')
   body
      .container
         block top_nav
            include top_nav.jade

         block info

         block subway
            footer
               .copy &copy; 2015
               .contacts +7 912 123 45 67
               .up-bot

