extends basic_layout.jade

block info
   .info
       #head
           h1 Исходный код
           .visual
               iframe(width="960", height="540", src="https://www.youtube.com/embed/FCZZQodXyhI", frameborder="0", allowfullscreen)
       .goods
           mixin plate(text)
               .plate= text

           .row
               +plate('SASS')
               +plate('LESS')
               +plate('STYLUS')
           .row
               +plate('GRANT')
               +plate('GULP')
               +plate('Brunch')

