extends basic_layout.jade

block info
    .info.page
        #head
            block info_name
                h1 Внутренняя страница
            .visual
                img.big(src='img/leo.jpg', alt='не загружено')
                .gallery
                    img(src='img/leo.jpg', alt='не загружено')
                    img(src='img/leo.jpg', alt='не загружено')
                    img(src='img/leo.jpg', alt='не загружено')
                    img(src='img/leo.jpg', alt='не загружено')
        .about
            .text.
                Текст о товаре
            .side-fight.
                боковая колонка

