//- верхнее меню
nav
    a#back-bot(href='http://itquant.ru/cp-lessons/hw1/index.html') <=

    mixin item(ref,text)
        .item: a(href=ref)= text
    +item('page-js.html','js')
    +item('page-ruby.html','Ruby')
    +item('page-php.html','PHP')
    +item('page-c.html','C++')